# Ignora l'ambiente virtuale
.venv/
env/
.env

# Ignora le impostazioni di VS Code
.vscode/

# Ignora la cache di Python
__pycache__/
*.py[cod]

# Ignora la cache di webassets
.webassets-cache/

# Ignora i moduli npm
node_modules/

# Ignora i file di sistema di macOS
.DS_Store
