.carousel-item img {
    height: 600px;
    object-fit: cover;
    filter: brightness(0.3);
}

.floating-btn-check {
    padding: 0.75rem;
}

.floating-btn-check label.floating-label {
    font-size: 13.6px;
    color: rgba(var(--bs-body-color-rgb), 0.65);
}