{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row min-vh-100">
            <!-- Colonna sinistra con sfondo e testo -->
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-center bg-primary text-center p-5">
                <i class="bi bi-journal-bookmark fs-1"></i>
                <h1 class="mb-3 font-great-vibes">{% if not prenotazione %}Prenota un tavolo{% else %}Modifica prenotazione{% endif %}</h1>
                <p>Compila il form per assicurarti un posto al Pegasus Gourmet Experience.</p>
            </div>
            
            <!-- Colonna destra con form -->
            <div class="col-md-6 d-flex flex-column justify-content-center p-5">
                <form id="prenotazione" method="POST" data-id="{{ prenotazione.id if prenotazione else '0' }}">
                    <div class="errors mb-3">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}" role="alert">
                                {{ message }}
                                </div>
                            {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="row g-2">
                        <!-- Nome -->
                        <div class="col-md">
                            <div class="form-floating">
                                <input type="text" class="form-control fst-italic" name="nome" id="nome" value="{{utente.nome}}" disabled >
                                <label for="nome">Nome</label>
                            </div>
                        </div>
    
                        <!-- Cognome -->
                        <div class="col-md">
                            <div class="form-floating">
                                <input type="text" class="form-control fst-italic" name="cognome" id="cognome" value="{{utente.cognome}}" disabled >
                                <label for="cognome">Cognome</label>
                            </div>
                        </div>
                    </div>
    
                    <!-- Email -->
                    <div class="form-floating my-3">
                        <input type="email" class="form-control fst-italic" name="email" id="email" value="{{utente.email}}" disabled >
                        <label for="email">Email</label>
                    </div>

                    <!-- Numero persone -->
                    <div class="form-floating my-3">
                        <input type="number" class="form-control" name="numero_persone" id="numero_persone" min="1" max="30"  value="{{ prenotazione.numero_persone if prenotazione else '2' }}" required>
                        <label for="numero_persone">Quante persone siete?</label>
                    </div>

                    <!-- Data -->
                    <div class="form-floating my-3">
                        <input type="date" class="form-control" name="data" id="data" min="{{ today }}" value="{{ prenotazione.data if prenotazione else '' }}" required>
                        <label for="data">Per quale giorno vuoi prenotare il tuo tavolo?</label>
                    </div>

                    <!-- Messaggio nessun orario -->
                    <div class="errore-nessun-orario mb-3 d-none">
                        <div class="alert alert-danger" role="alert">
                            Nessun orario disponibile nella data selezionata. Scegli un altro giorno!
                        </div>
                    </div>
                    
                    <!-- Orario -->
                    <div class="form-group my-3 border rounded floating-btn-check sez-orari {% if not prenotazione %}d-none{% endif %}">
                        <label class="form-label d-block floating-label">Scegli orario</label>
                        <div class="d-flex flex-wrap gap-2 justify-content-start">
                            {% for orario in orari %}
                                <input type="radio" class="btn-check input-orario" name="orario" id="orario-{{orario.id}}" value="{{orario.id}}" autocomplete="off"
                                    {% if prenotazione and prenotazione.orario_prenotabile_id == orario.id %}checked{% endif %}>
                                <label class="btn btn-outline-primary label-orario" data-orario-id="{{orario.id}}" for="orario-{{orario.id}}">
                                    {{ orario.orario.strftime('%H:%M') }}
                                </label>
                            {% endfor %}
                        </div>
                    </div> 

                    <div class="mb-3 row riga-pulsante-prenota {% if not prenotazione %}d-none{% endif %}">
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary">
                                {% if not prenotazione %}Prenota{% else %}Applica modifiche{% endif %}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}