{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 d-flex flex-column justify-content-center align-items-center bg-primary text-center p-5">
                <i class="bi bi-pencil-square fs-1"></i>
                <h1 class="mb-3 font-great-vibes">Modifica profilo</h1>
                <p>In questa pagina è possibile modificare i dati del profilo.</p>
            </div>
        </div>
        <div class="col-12 d-flex flex-column p-5">
            <form method="POST">
                <div class="row g-2">
                    <div class="errors mb-3">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
            
                    <!-- Nome -->
                    <div class="col-md">
                        <div class="form-floating">
                            <input type="text" class="form-control" name="nome" id="nome" value="{{ utente.nome }}" placeholder="" autocomplete="new-password" required >
                            <label for="nome">Nome</label>
                        </div>
                    </div>
            
                    <!-- Cognome -->
                    <div class="col-md">
                        <div class="form-floating">
                            <input type="text" class="form-control" name="cognome" id="cognome" value="{{ utente.cognome }}" placeholder="" autocomplete="new-password" required >
                            <label for="cognome">Cognome</label>
                        </div>
                    </div>
                </div>
                
                <!-- Email -->
                <div class="row g-2 mt-2">
                    <div class="col-md">
                        <div class="form-floating">
                            <input type="email" class="form-control" name="email" id="email" value="{{ utente.email }}" placeholder="" autocomplete="new-password" required >
                            <label for="email">Email</label>
                        </div>
                    </div>
                </div>

                <!-- Telefono -->
                <div class="row g-2 mt-2">
                    <div class="col-md">
                        <div class="form-floating">
                            <input type="text" class="form-control" name="telefono" id="telefono" value="{{ utente.telefono }}" placeholder="" autocomplete="new-password" required >
                            <label for="telefono">Telefono</label>
                        </div>
                    </div>
                </div>
            
                <div class="row g-2 mt-2">
                    <div class="col-md">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="toggle-modifica-password">
                            <label class="form-check-label" for="toggle-modifica-password">Voglio modificare la password</label>
                        </div>
                    </div>
                </div>

                <div class="row g-2 mt-2 sez-modifica-password d-none">
                    <!-- Password attuale -->
                    <div class="col-md">
                        <div class="form-floating">
                            <input type="password" class="form-control disabled" name="password-attuale" id="password-attuale" placeholder="" autocomplete="new-password" >
                            <label for="password-attuale">Password attuale</label>
                        </div>
                    </div>

                    <!-- Nuova password -->
                    <div class="col-md">
                        <div class="form-floating">
                            <input type="password" class="form-control disabled" name="password" id="password" placeholder="" autocomplete="new-password" >
                            <label for="password">Nuova password</label>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row g-2 mt-2">
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">
                            Applica modifiche
                        </button>
                    </div>
                </div>
            </form>
        </div>        
    </div>
{% endblock %}