{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row min-vh-100">

            <!-- Colonna sinistra con sfondo e testo -->
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-center bg-primary text-center p-5">
                <i class="bi bi-journal-bookmark fs-1"></i>
                <h1 class="mb-3">Prenota un tavolo</h1>
                <p>Compila il form per assicurarti un posto al Pegasus Gourmet Experience.</p>
            </div>
            
            <!-- Colonna destra con form -->
            <div class="col-md-6 d-flex flex-column justify-content-center p-5">
                <form method="POST">
                    <div class="errors mb-3 row">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}" role="alert">
                                {{ message }}
                                </div>
                            {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="row g-2">
                        <!-- Nome -->
                        <div class="col-md">
                            <div class="form-floating">
                                <input type="text" class="form-control" name="nome" id="nome" value="{{utente.nome}}" disabled >
                                <label for="nome">Nome</label>
                            </div>
                        </div>
    
                        <!-- Cognome -->
                        <div class="col-md">
                            <div class="form-floating">
                                <input type="text" class="form-control" name="cognome" id="cognome" value="{{utente.cognome}}" disabled >
                                <label for="cognome">Cognome</label>
                            </div>
                        </div>
                    </div>
    
                    <!-- Email -->
                    <div class="form-floating my-3">
                        <input type="email" class="form-control" name="email" id="email" value="{{utente.email}}" disabled >
                        <label for="email">Email</label>
                    </div>

                    <!-- Data -->
                    <div class="form-floating my-3">
                        <input type="date" class="form-control" name="data" id="data" required>
                        <label for="data">Per quale giorno vuoi prenotare il tuo tavolo?</label>
                    </div>
                    
                    <!-- Orario -->
                    <div class="form-group my-3 border rounded floating-btn-check">
                        <label class="form-label d-block floating-label">Scegli orario</label>
                        <div class="d-flex flex-wrap gap-2 justify-content-start">
                            <input type="radio" class="btn-check" name="orario" id="orario1" autocomplete="off">
                            <label class="btn btn-outline-primary" for="orario1">10:00</label>

                            <input type="radio" class="btn-check" name="orario" id="orario2" autocomplete="off">
                            <label class="btn btn-outline-primary" for="orario2">12:00</label>

                            <input type="radio" class="btn-check" name="orario" id="orario3" autocomplete="off">
                            <label class="btn btn-outline-primary" for="orario3">14:00</label>

                            <!-- Aggiungi altri orari per testare la disposizione -->
                            <input type="radio" class="btn-check" name="orario" id="orario4" autocomplete="off">
                            <label class="btn btn-outline-primary" for="orario4">16:00</label>

                            <input type="radio" class="btn-check" name="orario" id="orario5" autocomplete="off">
                            <label class="btn btn-outline-primary" for="orario5">18:00</label>

                            <input type="radio" class="btn-check" name="orario" id="orario6" autocomplete="off">
                            <label class="btn btn-outline-primary" for="orario6">20:00</label>
                        </div>
                    </div>

                    

                    <div class="mb-3 row">
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary">
                                Prenota
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}