//$primary: #854e42;
$primary: #d2ae6a;

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/bootstrap";


// Stili personalizzati
nav.navbar .navbar-brand .logo-svg {
    fill: $primary;
}

div.bg-primary{
    color: #000000;
}
